* {
    margin: 0 0;
    outline-color: #764ba2;
    font: 400 13.3333px Arial;
}

.blur {
    filter: blur(8px);
}

body, html {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: rgb(236, 240, 250);
}

#space {
    width: 100%;
    height: 100%;
    position: absolute;
}

header {
    top: 0px;
    left: 0px;
    width: 220px;
    height: 100%;
    z-index: 300;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 100px 6px rgba(80, 75, 148, 0.6);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#user {
    bottom: 0px;
    width: 100%;
    z-index: 300;
    height: 229px;
    box-shadow: 0px 0px 100px 0px #29325a;
}

#user #title {
    width: 180px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: auto auto;
    padding-top: 26px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -5px;
    padding-bottom: 10px;
}

#user #photo-space {
    text-align: center;
}

#user #photo_user {
    height: 90px;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 20px 3px rgba(62, 35, 109, 1);
}

#user #name-space {
    color: white;
    font-size: 18px;
    padding-top: 9px;
    text-align: center;
    padding-bottom: 4px;
}

#user #nom-space {
    color: white;
    font-size: 16px;
    text-align: center;
}

#cs {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: solid 0px;
    position: absolute;
    transition: all linear 0.2s;
    color: rgba( 242, 242, 242, 0.7);
    border-top: solid 1px rgba( 242, 242, 242, 0.1);
    background: linear-gradient(90deg, rgba(1,1,1,0.2) 0%, rgba(1,1,1,0) 50%, rgba(1,1,1,0.2) 100%);
}

#cs::after {
    top: 0px;
    left: 0px;
    width: 100%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    transition: all linear 0.2s;
    background: rgba( 11, 11, 11, 0.1);
}

#cs:hover {
    color: rgba( 242, 242, 242, 0.9);
}

#cs:hover::after {
    background: rgba( 11, 11, 11, 0.3);
}

header #menu {
    width: 85%;
    min-height: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

header #menu button {
    width: 100%;
    height: 35px;
    outline: none;
    display: block;
    cursor: pointer;
    border: solid 0px;
    position: relative;
    transition: all linear 0.2s;
    background: rgba( 1, 1, 1, 0.2);
    color: rgba( 242, 242, 242, 0.6);
    border-bottom: solid 1px rgba( 242, 242, 242, 0.1);
}

header #menu button:first-child {
    border-radius: 4px 4px 0px 0px;
}

header #menu button:last-child {
    border: solid 0px !important;
    border-radius: 0px 0px 4px 4px;
}

header #menu button:hover,
header #menu button.active {
    color: rgba( 242, 242, 242, 0.8);
    background: rgba(1, 1, 1, 0.3);
    border-bottom: solid 1px rgba( 242, 242, 242, 0.3);
}

header #menu button.active::after {
    top: 0px;
    right: -17px;
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    border: solid 17px #f2f2f2;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

#finderEmpleados {
    top: 20px;
    left: 240px;
    width: 260px;
    z-index: 400;
    height: 40px;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    border-radius: 2px 2px;
    background: transparent;
    border: solid 1px rgb(171, 168, 190);
}

#finderEmpleados::before {
    width: 100%;
    z-index: -1;
    content: "";
    height: 40px;
    position: fixed;
    backdrop-filter: blur(10px);
    background: rgba( 255, 255, 255, 0.8);
}

#finderEmpleados input[type="text"] {
    float: left;
    width: 219px;
    height: 38px;
    outline: none;
    border: solid 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background: transparent;
}

#finderEmpleados button {
    float: left;
    width: 38px;
    height: 38px;
    outline: none;
    overflow: hidden;
    border: solid 0px;
    position: relative;
    box-sizing: border-box;
    background: rgba(102, 51, 153, 0.1);
}

#finderEmpleados button::before {
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    content: "";
    position: absolute;
    background: rgb(171, 168, 190);
    transform: translate(-50%,-50%);
}

#finderEmpleados button::after {
    top: 50%;
    left: 50%;
    width: 70%;
    height: 18px;
    content: "";
    position: absolute;
    background: transparent;
    transform: translate(-50%,-50%);
    border-top: solid 2px rgb(171, 168, 190);
    border-bottom: solid 2px rgb(171, 168, 190);
}

#list-content {
    top: 80px;
    left: 240px;
    width: 260px;
    z-index: 300;
    overflow: auto;
    position: absolute;
    border-radius: 2px 2px;
    box-sizing: border-box;
    background: transparent;
    height: calc(100% - 100px);
    border: solid 1px rgb(171, 168, 190);
    box-shadow: 0px 0px 100px 6px rgba(80, 75, 148, 0.6);
}

#list-content::-webkit-scrollbar {
	width: 6px;
	background: rgba( 255, 255, 255, 0.2);
}
#list-content::-webkit-scrollbar-thumb {
	width: 2px !important;
    background: rgb(171, 168, 190);
}

#list-content::before {
    width: 100%;
    z-index: -1;
    content: "";
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    background: rgba( 255, 255, 255, 0.8);
}

#list-content a {
    width: 100%;
    height: 40px;
    display: block;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 9px;
    transition: all linear 0.2s;
}

#list-content a * {
    transition: all linear 0.2s;
}

#list-content a div {
    float: left;
}

#list-content a:hover {
    background: rgba(171, 168, 214, 0.2);
}

#list-content a:hover * {
    color: rgba(80, 75, 148, 1);
    border-color: rgba(80, 75, 148, 0.5) !important;
}

#list-content a div:nth-child(1) {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#list-content a div:nth-child(1) img {
    width: 40px;
    height: 40px;
    border-radius: 14px 14px;
    box-shadow: 1px 1px 7px 1px rgb(174, 163, 192);
}

#list-content a div:nth-child(2) {
    height: 40px;
    padding-bottom: 8px;
    padding-right: 10px;
    width: calc(100% - 75px);
    color: rgb( 96, 96, 96);
    border-bottom: solid 1px rgb( 166, 166, 166);
}

#list-content a div:nth-child(2) span:nth-child(1) {
    width: 100%;
    display: block;
    font-size: 14px;
    padding-top: 3px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#list-content a div:nth-child(2) span:nth-child(2) {
    display: block;
    padding-top: 1px;
}

#map {
    top: 0px;
    left: 220px;
    height: 100%;
    position: absolute;
    width: calc(100% - 220px);
}