<link rel="stylesheet" href="/css/actions.css">
<section id="actions">
    {{! panel para registrar usuario }}
    <section id="regUP">
        <div class="header">
            <button class="closeP">x</button>
            <span class="title">
                R<br>E<br>G<br>I<br>S<br>T<br>R<br>A<br>R<br>
                <br>U<br>S<br>U<br>A<br>R<br>I<br>O<br>
            </span>
        </div>
        <div class="actions--space">
            {{! Todo el código de formularios, vista, etc... aquí }}
            Hi
        </div>
    </section>
    {{! panel para registrar edificio }}
    <section id="regEP">
        <div class="header">
            <button class="closeP">x</button>
            <span class="title">
                R<br>E<br>G<br>I<br>S<br>T<br>R<br>A<br>R<br>
                <br>E<br>D<br>I<br>F<br>I<br>C<br>I<br>O<br>
            </span>
        </div>
        <div class="actions--space">
            {{! Todo el código de formularios, vista, etc... aquí }}
            Hi
        </div>
    </section>
    {{! panel para administrar cuenta }}
    <section id="admCP">
        <div class="header">
            <button class="closeP">x</button>
            <span class="title">
                A<br>D<br>M<br>I<br>N<br>I<br>S<br>T<br>R<br>A<br>R<br>
                <br>C<br>U<br>E<br>N<br>T<br>A<br>
            </span>
        </div>
        <div class="actions--space">
            {{! Todo el código de formularios, vista, etc... aquí }}
            Hi
        </div>
    </section>
</section>