<link rel="stylesheet" href="/css/actions.css">
<section id="actions">
    {{! panel para registrar usuario }}
    <section id="regUP">
        <div class="header">
            <button class="closeP">x</button>
            <span class="title">
                R<br>E<br>G<br>I<br>S<br>T<br>R<br>A<br>R<br>
                <br>U<br>S<br>U<br>A<br>R<br>I<br>O<br>
            </span>
        </div>
        <div class="actions--space">
            {{! Todo el código de formularios, vista, etc... aquí }}
            <form action="/registra">
                <img id="prev" src="
                    https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250
                " alt="">
                <input type="text" name="id" placeholder="Número de empleado">
                <input type="text" name="nombre" placeholder="Ingresa el nombre">
                <input type="text" name="apellido" placeholder="Ingresa el apellido">
                <select name="carrera" id="">
                    <option value="">Carrera</option>
                    <option value="ISC">ISC</option>
                    <option value="IM">IM</option>
                    <option value="II">II</option>
                    <option value="IC">IC</option>
                    <option value="LA">LA</option>
                    <option value="LB">LB</option>
                    <option value="G">G</option>
                </select>
                <select name="tipo_usuario" id="">
                    <option value="">Tipo de Usuario</option>
                    <option value="1">Administrador</option>
                    <option value="2">Empleado</option>
                </select>

                <div id="carts">
                    {{#each dias}}
                        <div class="cart">
                            <div class="cart--header">
                                <div class="cart--name_day">{{nombre}}</div>
                                <div class="cart--column">Hora</div>
                                <div class="cart--column">Edificio</div>
                            </div>
                            <div class="cart--content">
                                <div class="item">7 - 8</div>
                                <div class="item"><select name="" id=""><option value="">Edificio</option></select></div>
                            </div>
                            <div class="cart--content">
                                <div class="item">8 - 9</div>
                                <div class="item"></div>
                            </div>
                            <div class="cart--content">
                                <div class="item">9 - 10</div>
                                <div class="item"></div>
                            </div>
                            <div class="cart--content">
                                <div class="item">10 - 11</div>
                                <div class="item"></div>
                            </div>
                            <div class="cart--content">
                                <div class="item">11 - 12</div>
                                <div class="item"></div>
                            </div>
                            <div class="cart--content">
                                <div class="item">12 - 13</div>
                                <div class="item"></div>
                            </div>
                            <div class="cart--content">
                                <div class="item">13 - 14</div>
                                <div class="item"></div>
                            </div>
                        </div>
                    {{/each}}
                </div>

            </form>
        </div>
    </section>
    {{! panel para registrar edificio }}
    <section id="regEP">
        <div class="header">
            <button class="closeP">x</button>
            <span class="title">
                R<br>E<br>G<br>I<br>S<br>T<br>R<br>A<br>R<br>
                <br>E<br>D<br>I<br>F<br>I<br>C<br>I<br>O<br>
            </span>
        </div>
        <div class="actions--space">
            <input type="text" name="id" placeholder="Edificio">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="aula" placeholder="Aula">  
            <input type="submit" value="Registrar">
            {{! Todo el código de formularios, vista, etc... aquí }}
            haci esta bien ? 
        </div>
    </section>
    {{! panel para administrar cuenta }}
    <section id="admCP">
        <div class="header">
            <button class="closeP">x</button>
            <span class="title">
                A<br>D<br>M<br>I<br>N<br>I<br>S<br>T<br>R<br>A<br>R<br>
                <br>C<br>U<br>E<br>N<br>T<br>A<br>
            </span>
        </div>
        <div class="actions--space">
            {{! Todo el código de formularios, vista, etc... aquí }}
            Hi
        </div>
    </section>
</section>