<header>
    <div id="user">
        <div id="title">LocationChecker</div>
        <div id="photo-space">
            <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
        </div>
        <div id="name-space">
            Aurelio
            Rico Díaz
        </div>
        <div id="nom-space">
            123
        </div>
    </div>
</header>

<div id="map">
</div>