<link rel="stylesheet" href="/css/log.css">
<script src="/js/login.js"></script>
<div id="space" style="filter: blur(15px);">
    <header>
        <div id="user">
            <div id="title">
                <img src="/icon/LocationCheckerTitlte.png" width="100%" alt="">
            </div>
            <div id="photo-space">
                <img id="photo_user" src="/upload/user_pic/avatar.jpg" alt="">
            </div>
            <div id="name-space">
                Jessica Gutiérrez
            </div>
            <div id="nom-space">
                12090369
            </div>
        </div>

        <div id="menu">
            <button id="rEd" data-action='regEP'>Registrar Edificio</button>
            <button data-action='regUP'>Registrar Usuario</button>
            <button data-action='admCP'>Administrar Cuenta</button>
        </div>

        <button id="cs">
            CERRAR SESION
        </button>
    </header>

    <div id="space">

        <div id="finderEmpleados">
            <input type="text" name="find" placeholder="Buscar Empleado">
            <button></button>
        </div>

        <div id="list-content">
                <a href="/usuario/1">
                    <div id="img">
                            <img src="/upload/user_pic/avatar.jpg" alt="">
                    </div>
                    <div class="text">
                        <span>Majocama Sabritas</span>
                        <span>1</span>
                    </div>
                </a>
                <a href="/usuario/14090369">
                    <div id="img">
                            <img src="/upload/user_pic/avatar.jpg" alt="">
                    </div>
                    <div class="text">
                        <span>Marco Antonio Mendoza González</span>
                        <span>14090369</span>
                    </div>
                </a>
                <a href="/usuario/12090369">
                    <div id="img">
                            <img src="/upload/user_pic/avatar.jpg" alt="">
                    </div>
                    <div class="text">
                        <span>Jessica Gutiérrez Gentile</span>
                        <span>12090369</span>
                    </div>
                </a>
        </div>

        <div id="map">
        </div>

    </div>
</div>

<form method="POST" action="/inicia" id="logpanel">
    <div id="layout">
        <div id="photo">
            <img src="/icon/LocationChecker.png" width="100%" alt="">
        </div>
        <input name="id" placeholder="USUARIO" type="text" required style="margin-top: 222px;">
        <input name="password" placeholder="CONTRASEÑA" type="password" required>
        <section id="log_notify">
            Usuario o Contraseña Incorrectos
        </section>  
        <button id="iniciar">INGRESAR</button>
    </div>
</form>

<div id="homeSpace"></div>