  <link rel="stylesheet" href="/css/log.css">
  <script src="/js/login.js"></script>
    <div style="filter: blur(15px);">

    </div>

    <form method="POST" action="/inicia" id="logpanel">
        <div id="layout">
            <div id="photo">
                <span>LC</span>
            </div>
            <input name="id" placeholder="USUARIO" type="text" required style="margin-top: 222px;">
            <input name="password" placeholder="CONTRASEÑA" type="password" required>
            <button id="iniciar">INGRESAR</button>
        </div>
    </form>

    <div id="homeSpace"></div>