<link rel="stylesheet" href="/css/log.css">
<script src="/js/login.js"></script>
<div id="space" style="filter: blur(15px);">
    <header>
        <div id="user">
            <div id="title">LocationChecker</div>
            <div id="photo-space">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div id="name-space" *ngFor="let user of users">
                Aurelio
                Rico Díaz
            </div>
            <div id="nom-space">
                123
            </div>
        </div>
    </header>

    <div id="list-content">
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Marco Antonio Mendoza</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jose Carlos Jimenez Bentura</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Kevin Noe Salinas De LA</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
        <a href="#">
            <div id="img">
                <img src="https://i0.wp.com/www.maquinas-de-afeitar.com/wp-content/uploads/barba.jpg?resizeu003d250%2C250" alt="">
            </div>
            <div class="text">
                <span>Jorge Elizalde Salmerón</span>
                <span>123</span>
            </div>
        </a>
    </div>

    <div id="map">
    </div>
</div>

<form method="POST" action="/inicia" id="logpanel">
    <div id="layout">
        <div id="photo">
            <span>LC</span>
        </div>
        <input name="id" placeholder="USUARIO" type="text" required style="margin-top: 222px;">
        <input name="password" placeholder="CONTRASEÑA" type="password" required>
        <button id="iniciar">INGRESAR</button>
    </div>
</form>

<div id="homeSpace"></div>